.navbar {
  position: sticky;
  margin: 1rem 3rem;
  height: 60px;
  background: var(--color-button);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: border-radius 200ms linear 600ms;
}

.navbar .logo a {
  color: var(--color-block);
  text-decoration: none;
}

.navbar .hamburgerBtn {
  display: none;
}

.navbar .links {
  display: flex;
  gap: 10px;
}

.navbar .links a {
  text-decoration: none;
  color: var(--color-block);
  cursor: pointer;
  font-weight: 200;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 15px;
}

.navbar .links a:active {
  background: var(--color-title);
}

@media (max-width: 678px) {
  .navbar.active {
    border-radius: 10x 10x 0px 10px;
    transition: border-radius 0ms linear 0ms;
  }
  .navbar .links a {
    border-radius: 0px;
  }

  .navbar .links {
    position: absolute;
  }
}
